/*reseting the box model for the page*/
html, body, h1, h2, h3, p, ol, ul, li, a{
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 100%;
    font: inherit;
}

body{
    padding: 20px 20px 20px 20px;
    background-color: #5f5f5f;
    background-image: url(images/gobbler.png);
    background-position: top left;
    background-repeat: repeat;
    font-family: Helvetica, Arial, "Times News Roman";
    line-height: 24px;
}

h1 {
    color: #ffffff;
    margin: 10px 0 15px 0;
    /*if you want to center children inside a block-level tag, set the text-align of the children to center*/
    text-align: center;
}

h2 {
    margin: 10px 0 20px 0;
    text-align: center;
    color: #7facaa;
    font-size: 26px;
    font-weight: bold;
}

h3 {
    margin: 15px 0 15px 0;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 3px; /*padding is the space between content and border*/
    color: #7facaa;
}

ul, ol {
    padding: 0 0 0 50px; /*padding is responsible for pushing lists away from the borders of the browser page*/
}

a {
    text-decoration: none;
}

/*The order of the selectors matters
If apply some styling to a ul after the .nav below, this .nav style would be overwritten
*/
.nav{
    padding-left: 0;
    text-align: center;
}
/*
to avoid that, the rule is: generic first, specific after.
*/
.nav a{
    color: #0000af;
    text-decoration: none;
}

.nav li {
    display: inline;
}

.recipes{
    list-style-type: none;
    padding: 0;
}

.recipes li{
    border: 1px solid #b56663;
    padding-left: 15px;
    margin-bottom: 10px;
    height: 150px;
}

.recipes h3{
    border-bottom: 0;
}

.recipes a{
    color: #7facaa;
    text-decoration: none;
}

.recipes img{
    float: left;
    padding-right: 10px;
}

.header{
    padding: 10px 10px 10px 10px;
    background-color: #b56663;
}

.header a{
    color: #ffffff;
}

.header img{
    /*<img> is an inline-level tag, so it can't be centered with text-align. Instead, let's set the display to block and use
    the margin auto appreach*/
    display: block;
    margin: 0 auto 0 auto;
}

.main-content{
    width: 500px;
    padding: 20px 20px 20px 20px;
    border: 1px solid #dddddd;
    /*if you want to center an entire block-level tag and it's fixed-width, set the left and right margins to auto*/
    margin: 30px auto 0 auto;
    background-color: #ffffff;
}

.photos{
    list-style-type: none;
    padding: 0;
}

.photos li{
    display: inline;
    padding-left: 11px;
}

.photos img{
    width: 150px;
    height: 150px;
}

.featured-image{
    width: 430px;
    height: 430px;
    background: #ffffff url(images/featured-cake.jpg) top left no-repeat;
    margin: 0 auto 0 auto;
}

.featured-image h3{
    margin: 0;
    background-color: #333333;
    color: #ffffff;
    padding: 5px 0 5px 15px;
    text-transform: uppercase;
}

.footer p{
    color: #aaaaaa;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}

label, input{
    display: block;
}

label {
    margin-bottom:  10px;
}

input {
    margin-bottom: 25px;
}

input[type=submit]{
    width: 120px;
    font-size: 30px;
}

input[type=text]{
    width: 480px;
    border: 2px solid #7facaa;
    /*Combination below will set the height*/
    font-size: 24px;
    padding: 7px;
}

textarea{
    width: 480px;
    height: 400px;
    padding: 7px;
    border: 2px solid #7facaa;
    margin-bottom: 25px;
    font-size: 24px;
}

input[type=checkbox], label[for=newsletter]{
    display: inline;
}